# Server Info
sv_name "Axellee's Teeworlds Server"
sv_port 8303
sv_max_clients 16
sv_max_clients_per_ip 4

# Game Settings
sv_gametype dm
sv_map dm1
sv_maprotation "dm1 dm2 dm3 dm6 dm7 dm8 ctf1 ctf2 ctf3 ctf4 ctf5"
sv_rounds_per_map 3
sv_warmup 10

# Server Rules
sv_teamdamage 0
sv_powerups 1
sv_scorelimit 20
sv_timelimit 10

# Voting
sv_vote_kick 1
sv_vote_kick_bantime 5
sv_vote_kick_min 3

# Welcome Message
sv_motd "Welcome to Axellee's Server! Have fun!"

# Anti-cheat
sv_spamprotection 1

# RCON (Remote Console) - change this password!
ec_port 8304
ec_password "changeme123"
